<footer class="footer text-center text-white">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-4">
              <div>
                <h4 class="py-2">LOCATION</h4>
                <p class="mb-0">2215 John Daniel Drive<br>Clark, MO 65243</p>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <h4 class="py-2">AROUND THE WEB</h4>
                <div class="socialMedia text-white">
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f p-2"></i>
                  </span>
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter p-2"></i>
                  </span>
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in p-2"></i>
                  </span>
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fa-solid fa-globe p-2"></i>
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <h4 class="py-2">ABOUT FREELANCER</h4>
                <p class="mb-0">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
              </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container py-5">
            <p class="mb-0">Copyright © Your Website 2021</p>
        </div>
    </div>
  </footer>