<div class="portfolio pt-5 mt-5" id="portfolio">
    <div class="container py-5">
      <header class="text-center py-3">
        <h2 class="py-2 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
        <div class="d-flex justify-content-center align-items-center">
          <div class="line"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line"></div>
        </div>
      </header>
      <div class="row gy-4">
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img src="assets/poert1.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="assets/poert1.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              <img src="assets/port2.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="assets/port2.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              <img src="assets/port3.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="assets/port3.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              <img src="assets/poert1.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="assets/poert1.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              <img src="assets/port2.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="assets/port2.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal6">
              <img src="assets/port3.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="assets/port3.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div id="layerContainer" class="justify-content-center align-items-center position-fixed top-0 bottom-0 start-0 end-0">
      <div class="targetImage w-50">
        <img class="w-100" src="assets/port3.png" alt="">
      </div>
    </div> -->
  </div>