/* You can add global styles to this file, and also import other style files */
.line {
    width: 80px;
    height: 5px;
    margin: 0 10px;
    background-color: #2C3E50;
}

.home, .about {
    background-color: #1ABC9C;
}