<div class="home w-100 pt-5 mt-5" id="home">
    <div class="container text-center text-white pt-5 ">
      <img src="assets/avataaars.svg" width="250px" alt="">
      <div class="imgCaption">
        <h2 class="py-2 fs-1 fw-bolder">START FRAMEWORK</h2>
        <div class="art d-flex justify-content-center align-items-center">
          <div class="line bg-white"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line bg-white"></div>
        </div>
        <p class="mb-0 pt-3">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>